@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a:link,
a:visited,
a:active {
  color: #333;
  text-decoration: none;
}
